* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  position: sticky;
  top:0;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
  height: 5vh;
}

nav:hover button{
  display: inline-block;
  background-color: #fff;
}

nav:hover p{
  display: none;
}

nav button {
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav .oculto{
  display: none;
}

nav button:hover{
  background-color: #979797;
  border-color: #fff;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

#grid_imagens{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

img{
  width:45vw;
  max-width: 400px;
  margin: 1vw;

}

@media screen and (max-width:650px){
  #grid_imagens{
    grid-template-columns: repeat(1,1fr);
  }
  nav{
    flex-direction: column;
  }

  nav button{
    width:80vw;
  }
}